@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$red:  #ff0000;
$blue: #000099;
$main: #226b7f;

@mixin flex($flex-direction: row,
 $justify-content: space-between){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;

}

html, body{
box-sizing: border-box;
padding: 0;
margin: 0;
//font-family: 'Poppins', sans-serif;
background-color: whitesmoke;
font-family: 'EB Garamond';
}

.btn-primary{
    background-color: $main;
}

.btn:hover{
    background-image: linear-gradient(0deg, #3daace 0%,
    #ccffff 100%);
    border-color:linear-gradient(0deg, #3daace 0%,
    #ccffff 100%);
    color: black;
}

.text{
    line-height: 2em;
    text-align: justify;
}

.text-black{
    color: #000000;

}

.text-grey{
    color: grey;
}

.text-white{
    color: rgb(189, 196, 209);

    a{
        color: white
    }

    a:hover{
        color: $main;
    }
}

.bold{
    font-size: 1.6em;
    font-weight: 800;
}
a, a:hover{
    color: black;
    text-decoration: none;
}

h2{
    color: $main;
}

.content{
    min-height: 90vh;
    background-image: linear-gradient(0deg, #33ccff 0%,
    #ccffff 100%);


    .ticket{
        width: 288px;
        font-size: 0.7em;
        position: relative;
        height: 192px;
        overflow: hidden;
         margin: auto;
        display: block;
        border: 1px solid black;
        background: linear-gradient(0deg, #33ccff 0%,
         #ccffff 100%);

        .header{
            @include flex();
            padding: 5px;

            .food{
                width: 20px;
                height: 20px;
            }

            .flag{
                height: 15px;
                margin-top: 0;
                width: 50%;
            }
        }

        .main{
            display: block;
            text-align: center;

            .top-text{
                text-decoration: underline;
                width: 80%;

                margin: -10px auto;
                font-weight: bold;
                font-family: Tahoma,Verdana,Segoe,sans-serif;

                span{
                    color: $red;
                }
            }

            .text{
                margin: 7px auto;
                font-family: Tahoma,Verdana,Segoe,sans-serif;
                font-weight: 400;
                line-height: 1.2em;
                margin-left: 5px;
                margin-right: 5px;
                text-align: center;
                    strong{
                        font-weight: bold;
                        color: black;
                    }
            }

            .row{
                @include flex();
                margin-top: -5px;

                img{
                    width: 40px;
                    height: 20px;
                    margin: 0 auto auto 10px;
                }

                .box{
                    height: 20px;
                    width: 80%;
                  //  padding-top: 5px;
                    left: 0;
                    margin: auto -15px auto auto;
                    color: $red;
                    font-size: 1.2em;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 15px;
                    background-image: linear-gradient(180deg, #33ccff 0%, #c2e9fb 100%);
                    border: 1px solid #000000;
                }
            }

            .infos{
                width: 100%;
                height: 14px;
                background-color: #ccffff;
                border: 1px solid #000000;
                @include flex(row, baseline);
                margin: 10px auto 0 auto;
                padding-top: 3px;
                padding-bottom: 2px;

                    .info{
                        @include flex();
                        margin: auto 10px 2px 15px;


                        .blue{
                            margin-left: 30px;
                            color: $blue;
                            font-weight: bold;
                            margin: -3px auto;
                            font-size: 0.8em;
                        }

                        .black{
                            margin: -7px 10px auto auto;
                        }
                    }
            }

            .bottom{
                background-image: linear-gradient(180deg, #33ccff 0%, #c2e9fb 100%);
                padding-top: 15px;
                margin: 0px auto;

                .details{
                    width: 90%;
                    margin:auto;
                    @include flex(row, space-around);


                     img{
                        height: 35px;
                        height: 35px;
                        margin-top: -12px;
                    }

                    .sample,
                    .qr{
                        width: 35px;
                        height: 35px;
                        left: 10px;
                        position: absolute;
                        top: 135px;
                    }

                    &__main{
                    display: block;
                        width: 50%;
                        margin: 3px auto auto 65px;
                        height: 35px;
                        border: 1px solid black;
                        background-color: #ccffff;
                        padding-top: -7px;
                        font-size: 0.7em;


                        p{
                            font-style: italic;
                            width: 100%;
                            font-size: 0.7em;
                            margin: 1px auto;
                        }

                            .strong{
                                font-weight: 900;
                                font-size: 1em;
                                font-style: normal;
                            }

                            .thin{
                                font-weight: 300;
                                font-size: 0.8em;
                            }
                    }
                }

                .black{
                    background-image: linear-gradient(180deg, #33ccff 0%, #c2e9fb 100%);
                    text-align: center;
                    padding-bottom: 1px;
                    margin: 2px auto;

                    p{
                        font-weight: 900;
                        font-size: 0.7em;
                        margin-bottom: 2px;
                        width: 100%;
                    }
                }
            }
        }

        .abs{
            position: absolute;
            width: 10px;
            height: 10px;
            top: 40px;
            right: 3px;
        }
    }

    .form{
        width: 300px;
        display: block;
        margin: 40px auto;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        padding-bottom: 10px;
        padding-left: 10px;

        img{
            width: 40px;
            height: 40px;
            margin: 10px auto;
        }

        h1{
            font-size: 1.6em;
            color: $blue;
        }

        label{
            margin: 15px auto;
            text-align: left;
            padding-left: 0;

            input{
                width: 250px;
            }
        }
    }

    .dashboard{
        text-align: center;
        .tickets{

            &__content{
                @include flex(row);
            flex-wrap: wrap;
            justify-content: space-between;
            width: 95%;
            margin: auto;
            .ticket{
                margin: 10px;
            }
            }

        }

        .btn{
            margin: 10px auto;
        }


        .pages{
            width: 90%;
            margin: 10px auto;

            .pagination{
                margin: auto;
            }
        }
    }

    .hero{
        height: 100vh;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     //   background-image: url("../img/hero1.jpg");
        background: rgb(2,0,36);
background: url("../img/hero1.jpg"), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,188,222,1) 35%, rgba(0,212,255,1) 100%);
background-image:
linear-gradient(rgba(43, 49, 139, 0.548),
rgba(15, 35, 153, 0.589)),
url("../img/hero1.jpg");

    padding-top: 200px;
    color: white;


        h1{
            color: $main;
            color: white;
            font-weight: 700;
            font-size: 5em;
            font-style: italic;
        }
    }
    .game{
        height: 200px;
        width: 100%;
        margin: 10px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color:rgb(69, 183, 206);
        @include flex(column, space-between);

        .text{
            font-weight: bold;
        }

        .audio{
            margin: 0 auto;
        }
    }

    .container{
        .services{
               .icons{
                    height: 100%;
                    .service{
                        @include flex();
                        margin: 15px auto;

                        &__img{
                            width: 150px;
                            img{
                                width: 150px;
                                height: 100px;
                            }
                        }

                        &__text{
                            width: 70%;
                            text-align: left;
                            padding-top: 5px;
                            padding-left: 0;
                            span{
                                font-weight: bold;
                                font-size: 2em;
                            }


                        }
                    }
               }

                .image{
                    img{
                        width: 90%;
                        height: 350px;
                        border-radius: 10px;
                        margin: 10px auto;
                    }
                }
        }

        .ads{
            @include flex(row, space-between);
           .box{
                margin: 1px;
                width: 260px;
                margin: auto;
                cursor: pointer;
                img{
                    width: 250px;
                }
           }


        }

        .about{
            .row{
             .images{
                 @include flex();
                 height: auto;
                 flex-wrap: wrap;
                 img{
                     width: 100px;
                     height: 90px;
                     margin: 10px;
                 }
             }
            }

         }

        .book{
            &__form{
                text-align: center;

                p{
                    margin: 30% auto 0 auto;
                }
                .btn{
                    margin: 10px auto;
                }
            }

            .map{
                height: 330px;
                width: 90%;
                height: 250px;
                margin: auto auto 10px auto;

                iframe{
                    width: 90%;
                    margin: auto;
                    height: 100%;
                }
            }
        }
    }
}

.footer{
    background-color: black;
    height: auto;
    margin: 0px auto 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;

}

  /*responsive for 1024px*/
  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .content{
        .hero{
            height: 60vh;
            padding-top: 20%;
        }

        .container{
            .ads{
                .box{
                    width: 210px;

                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
  }

    /*responsive for 768px*/
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .content{
            .hero{
                height: 50vh;
                padding-top: 150px;
            }

            .container{

                .ads{
                    .box{
                        width: 160px;

                        img{
                            width: 150px;
                        }
                    }
                }
            }
        }
      }

        /*responsive for 350px*/
        @media screen and (min-width: 350px) and (max-width: 767px){

            .qr{
             //  display: none;
            }

            .sample{
                visibility: visible;
               position: absolute;
             display: block;
              // top: 140px;
            }
            .pages{
                width: 90%;
                margin: 10px auto 0 auto;
                overflow: hidden;

                .pagination{
                    margin: auto;
                   ul{
                    li{
                        display: block;
                    }
                   }
                }
            }
            .content{
                .hero{
                    height: 450px;
                    background-position: right;
                    padding-top: 90px;

                    h1{
                        font-size: 4em;
                    }
                }

                .container{

                    .services{
                       .icons{
                        text-align: center;
                        margin: auto;
                        .service{
                            justify-content: start;
                            margin: auto;
                            width: 90%;
                            padding-top: 5px;

                            &__img{
                                width: 90px;
                                height: 90px;

                                    img{
                                       width: 80px;
                                       height: 50px;
                                    }
                            }

                            &__text{
                                line-height: 1em;
                                width: auto 5px;
                               margin-left: 0px;
                               text-align: left;
                               span{
                                font-size: 1.4em;
                                text-align: left;
                               }
                            }
                        }
                       }

                       .image{
                        width: 300px;
                        height: 300px;

                        img{
                            width: 280px;
                            height: 280px;
                        }
                       }
                    }

                    .about{
                       .row{
                        .images{
                            @include flex();
                            height: auto;
                            flex-wrap: wrap;
                            img{
                                width: 100px;
                                height: 90px;
                                margin: 10px;
                            }
                        }
                       }

                    }

                    .ads{
                        .box{
                            width: 160px;

                            img{
                                width: 150px;
                            }
                        }
                    }

                    .book{
                        .map{
                            width: 330px;
                            height: 330px;

                            iframe{
                                width: 300px;
                                height: 90%;
                                margin: 20px auto;
                            }
                        }
                    }


                }
            }
          }